<app-header></app-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-segment [(ngModel)]="segment" value="documents">
                <ion-segment-button value="documents">
                    <ion-label>Documentos</ion-label>
                </ion-segment-button>
                <ion-segment-button value="send">
                    <ion-label>Enviar</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-card-content>
        <div *ngIf="segment == 'documents'">
            <ion-card-header>
                <ion-card-title>Meus Documentos</ion-card-title>
                <ion-card-subtitle>Lista de documentos enviados à empresa</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list *ngIf="my_documents">
                    <ion-item button="true" *ngFor="let document of my_documents.media"
                        (click)="openDocument(document)">
                        <ion-label>
                            {{ getTranslatedName(document.collection_name) }}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </div>
        <div *ngIf="segment == 'send'">
            <ion-card-header>
                <ion-card-title>Enviar Documentos</ion-card-title>
                <ion-card-subtitle>Escolha o tipo de documentos que pretende enviar e anexe o
                    ficheiro</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <form (submit)="onFileUpload()">
                    <ion-item lines="none">
                        <ion-select label="Tipo de documento" placeholder="Selecionar" [(ngModel)]="selectedFileType">
                            <ion-select-option *ngFor="let file_type of file_types"
                                value="{{ file_type.collection_name }}">{{ file_type.name }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <!-- Campo de entrada escondido -->
                    <input type="file" #fileInput (change)="onFileSelected($event)" accept=".pdf,.doc,.docx,.jpg,.png"
                        style="display: none;" />
                    <!-- Botão estilizado -->
                     <!--
                    <ion-button expand="block" color="primary" (click)="fileInput.click()">
                        {{ selectedFile ? selectedFile.name : 'Carregar Ficheiro' }}
                    </ion-button>
                    -->
                    <ion-button expand="block" (click)="captureImage()" color="primary">
                        {{ selectedFile ? selectedFile.name : 'Carregar Ficheiro' }}
                    </ion-button>
                    <!-- Botão de enviar -->
                    <ion-button expand="block" type="submit" color="success" [disabled]="!selectedFile">
                        Enviar
                    </ion-button>
                </form>
            </ion-card-content>
        </div>
    </ion-card>
    <app-chat></app-chat>
</ion-content>